/*Variables*/
:root{
--basic-black: #000000;
--basic-white: #FFFFFF;
--basic-red: #FB565A;
--basic-green: #00CA74;
--basic-yelow: #EFC849;
--basic-neutral-dark: #283136;
--extra-dark-gray:#1E1E1E;
--basic-grey: #666666;
--basic-extra-grey:#444444;
--basic-neutral: #EEEEEE;
--basic-dark: #A6A6A6;
--extra-gray:#4D4D4D;
}
/*Global*/
body {
min-width: 1440px;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
text-transform: uppercase;
}
.page-body a {
text-decoration: none;
}
img {
max-width: 100%;
height: auto;
}
.inner-page .page-body {
background: var(--basic-neutral);
}
/*grid*/
.main-header {
display:flex;
margin-bottom: 545px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}
.main-header-logo {
order: 0;
position: absolute;
width: 159.87px;
height: 65.02px;
left: 140px;
top: 48.98px;
}
/*navigation*/
.container {
display: flex;
}
.main-navigation {
position: absolute;
width: 437;
left: 502px;
top: 0px;
top:75px;
font-size: 16px;
line-height: 30px;
color: var(--basic-black);
}
.user-navigation {
position: absolute;
width: 75px;
height: 30px;
left: 1224.84px;
top: 75px;
}
.main-navigation-wrapper {
width: 100%;
margin-bottom: 60px;
display: flex;
flex-direction: row;
align-items: center;
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
list-style: none;
}
.site-navigation a {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
text-align: center;
text-decoration: none;
display: flex;
align-items: center;
text-transform: uppercase;
}
.user-navigation a {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: right;
text-transform: uppercase;
}
.site-navigation a,
.user-navigation a {
 color: inherit;
 list-style: none;
}
.site-navigation a:hover,
.user-navigation a:hover {
color:var(--basic-red)
}
.site-navigation a:active,
.user-navigation a:active {
color: var(--basic-black);
opacity: 0.3;
}
/*logo*/
/*news*/
.visually-hidden {
visibility: hidden;
}
.news-list {
list-style: none;
}
.news-slide {
position: absolute;
width: 760px;
height: 431px;
left: 537px;
top: 114px;
background: url(img/nerds-index-slide1-1.svg);
}
.news-item h2 {
width:538px;
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 55px;
display: flex;
align-items: center;
}
.news-item-button {
width: 240px;
font-style:normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
align-items: center;
border-radius:3px;
background-color:var(--basic-red);
text-transform: uppercase;
display: flex;
color:var(--basic-white);
box-sizing: border-box;
}
/*features*/
.features {
display: flex; 
}
.feature-list1 {
list-style: none;
width: 300px;
background-image: url(img/illustration-1-1.svg);
background-repeat: no-repeat;
}
.feature-item {
text-align: center;
}
.feature-item h2 {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
}
.feature-item p {
font-weight: normal;
font-style: normal;
align-items: center;
display: flex;
color:var(--basic-neutral-dark);
}
.button {
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
text-align:center;
color:var(--basic-white);
text-transform: uppercase;
border:none;
border-radius: 3px;
}
.button-red {
background-color:var(--basic-red);
}
.feature-list2 {
width: 300px;
background-image: url(img/illustration-2-1.svg);
background-repeat: no-repeat;
}
.button-green {
background-color:var(--basic-green);
}
.feature-list3 {
position: absolute;
background-image:url(img/illustration-3-1.svg);
background-repeat: no-repeat;
}
.button-yellow {
background-color:var(--basic-yelow);
}
/*benefits*/
.benefits h3 {
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
display: flex;
align-items: center;
color:var(--basic-black)
}
.benefits p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color:var(--basic-neutral-dark)
}
.benefits h4 {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
color:var(--basic-neutral-dark)
}
.benefits-item {
font-style: normal;
font-weight: normal;
color:var(--basic-neutral-dark)
}
.benefits img {
background-image: url(img/nerds-illustration-1.png);
background-repeat: no-repeat;
}
.benefits-list {
font-style: normal;
font-weight: bold;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
list-style: none;
color:var(--basic-black);
}
.benefits-item span {
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 64px;
color:var(--basic-black);
}
/*user*/
.user-img1 {
background-image: url(img/Group-5.svg);
background-repeat: no-repeat;
}
.user-img2 {
background-image: url(img/logo-2-1.svg);
background-repeat: no-repeat;
}
.user-img3 {
background-image: url(img/logo-3-1.svg);
background-repeat: no-repeat;
}
.user-img4 {
background-image: url(img/logo-4-1.svg);
background-repeat: no-repeat;
}
/* footer*/
.page-footer {
display: flex;
}
.main-footer {
background-position: 0 0;
background-image: url(img/map1.png);
background-repeat: no-repeat;
position: absolute;
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;

}
.contacts h3 {
font-style: normal;
color: var(--basic-black);
font-size: 18px;
line-height: 30px;
font-weight: bold;
display: flex;
align-items: center;
text-transform: uppercase;
}
.contacts p {
font-style:normal;
font-weight: normal;
color: var(--basic-grey)
font-size:16px;
line-height:18px;
ilign-item:center;
display: flex;
}
.contacts .button {
width: 219px;
background-color: var(--basic-red);
border-radius: 3px;
color: var(--basic-white);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
}
/*social*/
.social-item {
display: flex;
flex-wrap: wrap;
color: var(--basic-white);
align-items: center;
background-color:var(--basic-grey);
}
.social h2 {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
color:var(--basic-black);
}
.social p {
font-size: 16px;
line-height: 22px;
font-style: normal;
font-weight: normal;
color: var(--basic-extra-grey);
display: flex;
align-items: center;
}
/* modal*/
.modal {
width: 960;
color: var(--basic-black);
background-color: var(--basic-white);
background-image: url(img/Rectangle 19.png);
background-position: 0 0;
background-repeat: repeat;
box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
visibility: hidden;
}
/*page-catalog-container*/
.page-title {
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 55px;
display: flex;
align-items:center;
}
.your-price h3 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
}
.button {
background:var(--basic-neutral);
border-radius: 3px;
}
.properties {
}
.p-item1 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black)
}
.p-item2 {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
mix-blend-mode: normal;
}
.p-item3 {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
mix-blend-mode: normal;
opacity: 0.3;
}
.p-item4 {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
mix-blend-mode: normal;
opacity: 0.3;
}
.network h3 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
}
.network a {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color:var(--basic-neutral-dark);
}
.container h3 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;
color:var(--basic-black);
}
.container a {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color:var(--basic-neutral-dark);
}
.sedona .visually-hidden {
visibility: hidden;
}
.pink .visually-hidden {
visibility: hidden;
}
.borodonski .visually-hidden {
visibility:hidden;
}
.mishka .visually-hidden {
visibility:hidden;
}
.web .visually-hidden {
visibility:hidden;
}
.kvast .visually-hidden {
visibility:hidden;
}
.main-footer-catalog {
background-position: 0 0;
background-image: url(img/map1.png);
background-repeat: no-repeat;
position: absolute;
}
.contacts-catalog h3 {
font-style: normal;
color: var(--basic-black);
font-size: 18px;
line-height: 30px;
font-weight: bold;
display: flex;
align-items: center;
text-transform: uppercase;
}
.contacts-catalog p {
font-style:normal;
font-weight: normal;
color: var(--basic-grey)
font-size:16px;
line-height:18px;
ilign-item:center;
display: flex;
}
.contacts-catalog .button {
width: 219px;
background-color: var(--basic-red);
border-radius: 3px;
color: var(--basic-white);
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
}
/*social*/
.social-item {
display: flex;
flex-wrap: wrap;
color: var(--basic-white);
align-items: center;
background-color:var(--basic-grey);
}
.social-catalog h2 {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 36px;
display: flex;
align-items: center;
color:var(--basic-black);
}
.social-catalog p {
font-size: 16px;
line-height: 22px;
font-style: normal;
font-weight: normal;
color: var(--basic-extra-grey);
display: flex;
align-items: center;
}
/* modal*/
.modal-catalog {
width: 960;
color: var(--basic-black);
background-color: var(--basic-white);
background-image: url(img/Rectangle 19.png);
background-position: 0 0;
background-repeat: repeat;
box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
visibility: hidden;
}
